@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-muted: rgb(0, 15, 70);
  }
}

:root {
  --main-sidebar-width: 20rem;
}

html {
  @apply bg-main;
  @apply font-inter;
  @apply normal-case;
}

/* HIDE INPUT CHOOSE FILE  */
::-webkit-file-upload-button {
  display: none;
}
::file-selector-button {
  display: none;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Youtube Player */

.video-responsive {
  overflow: hidden;
  position: relative;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
}